<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🌱 Crop Recommendation System</h1>

    <p class="subtitle">
        Enter Soil and Weather Details
    </p>

    <form action="/predict" method="POST">

        <label>Nitrogen (N)</label>
        <input type="number" step="any" name="N" required>

        <label>Phosphorus (P)</label>
        <input type="number" step="any" name="P" required>

        <label>Potassium (K)</label>
        <input type="number" step="any" name="K" required>

        <label>Temperature (°C)</label>
        <input type="number" step="any" name="temperature" required>

        <label>Humidity (%)</label>
        <input type="number" step="any" name="humidity" required>

        <label>pH</label>
        <input type="number" step="any" name="ph" required>

        <label>Rainfall (mm)</label>
        <input type="number" step="any" name="rainfall" required>

        <button type="submit">
            Recommend Crop 🌾
        </button>

    </form>

</div>

</body>
</html>